


#question_type {
    width: 600px;
    /*margin-left: 15px;*/
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
    display: inline-block;
    vertical-align: middle;

}
#theme {
    width: 600px;
    /*margin-left: 51px;*/
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
    display: inline-block;
    vertical-align: middle;

}
#message {
    width: 600px;
    /*margin-left: 24px;*/
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
    vertical-align: middle;
    display: inline-block;
}

.input_group > label {
    width: 15%;
    display: inline-block;
    margin-left: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#upload_file {
    margin-left: 15%;
    margin-top: 15px;
    margin-bottom: 15px;

}
#text_upload {
    width: 395px;
    display: inline-block;

}
#text_upload_format {
    width: 630px;
    display: inline-block;
    margin-top: 15px;
    color: gray;
    font-size: 10px;
}
#button_submit_upload {
    padding-left: 35%;
    margin-top: 15px;
}

ul.hr {

    padding: 7px;
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}

#content_top {
    /*background-image: url(http://ourway.biz/1383381058_archeage.jpg);*/
    height: 200px;
    width: 100%;

}

#login {
    margin-left: 50%;
}

#footer {
    /*background-color: lawngreen;*/
    width: 100%;
    height: 30px;

}

#top {
    /*background-color: lawngreen;*/
}


#left_agent_menu {
    /*background-color: #808080;*/
    padding:  0;
    min-height: 200px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #E1E8E2),
        color-stop(0.03, #C6D9C3),
        color-stop(0.97, #C3D9CA),
        color-stop(1, #DFE6E0)
    );
    background-image: -o-linear-gradient(right, #E1E8E2 0%, #C6D9C3 3%, #C3D9CA 97%, #DFE6E0 100%);
    background-image: -moz-linear-gradient(right, #E1E8E2 0%, #C6D9C3 3%, #C3D9CA 97%, #DFE6E0 100%);
    background-image: -webkit-linear-gradient(right, #E1E8E2 0%, #C6D9C3 3%, #C3D9CA 97%, #DFE6E0 100%);
    background-image: -ms-linear-gradient(right, #E1E8E2 0%, #C6D9C3 3%, #C3D9CA 97%, #DFE6E0 100%);
    background-image: linear-gradient(to right, #E1E8E2 0%, #C6D9C3 3%, #C3D9CA 97%, #DFE6E0 100%);
}

.left_agent_menu_section {
    background-color: rgb(245, 250, 245);
    margin: 0 2%;
    width: 96%;
    border-style: outset;
    border-color: rgb(255, 255, 255);
    border-bottom-width: 1px;
    border-top-width: 1px;
}

.left_agent_menu_section li {
    padding-left: 6pt;
    min-height: 30px;
    line-height: 30px;
}
.left_agent_menu_section li * {
    color: rgb(41, 65, 40);
    text-decoration: none;
}
.left_agent_menu_section li:hover {
    background-color: #B6B6B6;
    /*border: 1px inset lime;*/
}
.left_agent_menu_section li:hover *{
    color: rgb(255, 255, 200);
}
.left_agent_menu_section li .level-1 {
    padding-left: 1em;
}
.left_agent_menu_section li .level-2 {
    padding-left: 2em;
}

#office_content {
    width: 100%;
    min-height: 500px;
}
.footer_office{
    margin: 0 auto;
    width: 300px;

}
#social_office {
    margin-left: 5%;
}

#content_affiliate_program img{
    width: 100%;
    height: 70%;

}
#content_affiliate_program div {
    width: 95%;
    height: 95%;
    margin-left: 20px;
    left: -25px;


}
#content_affiliate_program {
    width: 800px;
    height: 200px;
    margin-left: 5%;

}

#content_affiliate_program div.slick-slide{
    border: solid 2px #808080;

}

#content_affiliate_program .slick-prev:before, #content_affiliate_program .slick-next:before {
    color: firebrick;
}

#company_slaider img{
    width: 100%;
    height: 100%;

}
#company_slaider div {
    width: 95%;
    height: 95%;
    margin-left: 20px;
    left: -25px;


}
#company_slaider {
    width: 800px;
    height: 80px;
    margin-left: 5%;

}
#company_slaider .slick-prev:before,  #company_slaider .slick-next:before {
    color: firebrick;
}


.yashare-auto-init {
    /*margin-left: 35%;*/
    margin: 0 auto;
    display: block;
    width: 35%;
}

#product_image{
    height: 100px;
    width: 100px;
}
#product_name{
    height: 110px;
    width: 300px;
}
#product_buy {
    height: 110px;
    width: 300px;
}
#company_img {
    height: 70px;
    width: 100px;
}
#company_desc {
    height: 70px;
    width: 300px;
}

#add_to_save {
    height: 70px;
    width: 300px;
}
.button {
    text-transform: none;
    text-decoration: none;
    color: rgb(124, 124, 124);
    /*text-shadow: 1px 1px rgba(72, 72, 27, 0.72);*/
    font-size: 11pt;
    border-width: 1px;
    border-radius: 0.5em 0.5em;
    padding: 6px;
}
.button.big {
    width: auto;
    height: auto;
    min-width: 200px;
    min-height: 40px;
    padding: 6pt;
}
.button.green {
    border-color: #ADADAD;
    box-shadow: 1px 1px rgba(185, 185, 185, 0.5);

    background-color: #C2C2C2;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #808080),
        color-stop(0.17, #808080),
        color-stop(0.83, #808080),
        color-stop(1, #808080)
    );
    background-image: -o-linear-gradient(bottom, #fff 0%, #f0f0f0 50%, #eeeeee 100%);
    background-image: -moz-linear-gradient(bottom, #fff 0%, #f0f0f0 50%, #eeeeee 100%);
    background-image: -webkit-linear-gradient(bottom, #fff 0%, #f0f0f0 50%, #eeeeee 100%);
    background-image: -ms-linear-gradient(bottom, #fff 0%, #f0f0f0 50%, #eeeeee 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #f0f0f0 50%, #eeeeee 100%);

}


.client_filds_add_product_label {
    display: inline-block;
    width: 15%;
}
.client_filds_add_product {
    width: 300px;
    margin: 5px;
}
.client_filds_add_product_area {
    width: 500px;
    margin: 5px;
}
.client_filds_add_product_label_mail {
    display: inline-block;
    width: 40%;
}
.control-group.profile-field-wrap.mid-name {
    width: 47%;
}


#left_agent_menu {
    float: left;
    width: 25%;;
}

#agents_content {
    float: left;
    width: 70%;
    margin: 1%;
}

.product_div, .order_div {
    margin: 5px;
    width: 100%;
}

.order_div table,
.product_div table,
#agents_clients_table,
.order_div table td,
.product_div table td,
#agents_clients_table td{
    border: 1px inset rgb(120, 150, 120);
    padding: 0.5em;
}
.product_sorting {
    display: inline-block;
}
.product-image {
    max-width: 100%;
    max-height:100%;
}



#orders_div, #agents_clients_div, #agents_collegues_div, #products_div {
    clear: both;
    padding: 2%;
}

.order_div_top {
    height: 50px
}
.order_div_top, .order_div_content {
    width: 100%
}

.price {
    font-size: 16pt;
}
.h1 {
    font-size: 16pt;
    margin-bottom: 8pt;
}
.h2 {
    font-size: 14pt;
    margin-bottom: 7pt;
}
.close {
    top: 5px;
    right: 5px;
}
.hidden {
    display: none;
}
.bold {
    font-weight: bold;
}
.active, .active:hover  {
    font-weight: bold;
    color: darkslategray;
    text-decoration: none;
}
.clr {
    clear: both;
}
.inline-block {
    display: inline-block;
}
.block {
    display: block;
}
.padding-top-1em {
    padding-top: 1em;
}
.padding-top-2em {
    padding-top: 2em;
}
.agents-filters {
    padding: 2%;
    clear: both;
}

#agents_collegues_div th {
    padding: 10px;
}
#agents_collegues_div td {
    padding: 10px;
}


#agents_clients_table th {
    padding-bottom: 10px;
}
#agents_clients_table td {
    padding-bottom: 10px;
}
#agents_clients_table {
    padding-top: 1em;
}

#content_registration {
    padding: 2em;
    line-height: 40px;
    vertical-align: bottom;
}

.mainbox-title span {
    color: rgb(41, 65, 40);
}

#partner_counter {
    display: inline-block;
}

#partner_counter .number {
    display: inline-block;
    line-height: 14pt;
    font-size: 16pt;
    margin: 0;
    background: #2f2f2f;
    padding: 6pt;
    color: #e0ffe0;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-align: center;
}

.company_image {
    max-width: 100px;
    max-height: 70px;
}

.profit {
    font-size: 12px;
}

.product-count-buttons{
    width: 12pt;
    text-align: center;
    line-height: 6pt;
    display: inline-block;
    vertical-align: text-bottom;
}

.plus_minus{
    background: dimgray;
    width: 10pt;
    display: inline-block;
    height: 5pt;
    vertical-align: bottom;
    padding: 2px 0;
    font-size: 10pt;
    color: white !important;
    margin: 1px 0 0 0;
}

.shipping {
    margin: 0 auto;
    width: 120px;
}

.shipping-img {
    width: 90px;
}

.padding10px {
    padding: 10px;
}